.navBar{
  height: auto;
  background: linear-gradient(to right, #ff0000 0%, #000066 100%);
  justify-content: space-around;
}
.login{
  display: flex;
  justify-content: space-around;
  width: auto;
  height: auto;
  background-color: transparent;
}

mat-button-toggle{
  color: bisque;
  background-color: transparent;
}

button{
  margin-left: 2rem;
}

span{
  color: bisque;
}
