<mat-toolbar class="navBar">
  <img src="{{teamLogo}}" alt="MU">
  <mat-button-toggle-group class="navMenu">
    <mat-button-toggle routerLink="home">Home</mat-button-toggle>
    <mat-button-toggle routerLink="table">Table</mat-button-toggle>
    <mat-button-toggle>Extra league</mat-button-toggle>
    <mat-button-toggle *ngIf="admin">Admin</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="login">
    <button mat-raised-button color="accent" (click)="openDialog()">Sign In</button>
    <button mat-raised-button color="primary" routerLink="registration">Sign Up</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
