<form [formGroup]="registerForm" class="form">
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Enter First Name" formControlName="firstName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter Last Name" formControlName="lastName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter Email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Enter password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input matInput placeholder="Confirm password" formControlName="password" [type]="hideConfirm ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
<!--  <mat-form-field>-->
<!-- <mat-label>Date of Birth</mat-label>-->
<!--    <input  matInput [matDatepicker]="picker" placeholder="Choose a date">-->
<!--    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!-- </mat-form-field>-->
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
</form>
