<mat-tab-group dynamicHeight id="main">
  <mat-tab label="Rashford">
    <mat-card class="card">
      <img mat-card-image
           src="https://www.manutd.com/AssetPicker/images/0/0/12/232/845947/Rashford_applauds_the_fans1571601761602_xlarge.jpg"
           alt="Photo">
      <mat-card-content>
        <p>
          <strong>Marcus Rashford believes Manchester United's performance against
            Liverpool was worthy of all three points, after the Reds led for
            most of the 1-1 draw against the club's historic rivals.</strong>
        </p>
        <p>
          In a closely-fought affair at Old Trafford, it was Rashford's goal
          that sent the United faithful into raptures in the 36th minute,
          slotting home from close range after a brilliant cross from Daniel James.
        </p>
      </mat-card-content>
      <div class="cardFooter">
        <mat-card-header>
          <div mat-card-avatar class="header-image1"></div>
          <mat-card-title>Adam Bath</mat-card-title>
          <mat-card-subtitle>Author</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://www.manutd.com/en/news/detail/marcus-rashford-post-match-reaction-after-united-1-liverpool-1-on-20-october-2019"
            mat-raised-button>Read more...</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Injuries">
    <mat-card class="card">
      <img mat-card-image
           src="https://www.manutd.com/AssetPicker/images/0/0/12/100/812224/D16I5425_2019091983133973_201909190833421568929582542_xlarge.jpg"
           alt="Photo">
      <mat-card-content>
        <p>
          <strong>Manchester United manager Ole Gunnar Solskjaer
            gave a brief update on several injured players after
            our 1-1 draw with Liverpool.</strong>
        </p>
        <p>
          The boss told reporters in his post-match press conference
          that he hoped a number of first-teamers would return for our
          upcoming run of fixtures, which begins with a trip to Serbia
          to play Partizan Belgrade on Thursday.
        </p>
      </mat-card-content>
      <div class="cardFooter">
        <mat-card-header>
          <div mat-card-avatar class="header-image2"></div>
          <mat-card-title>Florencia Bernasconi</mat-card-title>
          <mat-card-subtitle>Author</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://www.manutd.com/en/news/detail/ole-gunnar-solskjaer-gives-man-utd-injury-update-after-liverpool-game"
            mat-raised-button>Read more...</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Future">
    <mat-card class="card">
      <img mat-card-image
           src="https://www.manutd.com/AssetPicker/images/0/0/12/230/845547/GettyImages-1528964621571405318336_xlarge.jpg"
           alt="Photo">
      <mat-card-content>
        <p>
          <strong>It’s an eventful week at Old Trafford,
            with Manchester United in action twice and our
            Under-23s, Under-18s and Women’s sides also playing.</strong>
        </p>
        <p>
          Read on to find out what lies in wait for the Reds over the
          next seven days...
        </p>
        <p>
          <strong>MONDAY</strong>
          While we continue to provide you with all the latest reaction
          from Sunday’s encounter with Liverpool, our Under-23s will be
          preparing for their next game, in South Wales.
        </p>
        <div class="cardFooter">
          <mat-card-header>
            <div mat-card-avatar class="header-image3"></div>
            <mat-card-title>Sam Carney</mat-card-title>
            <mat-card-subtitle>Author</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <a href="https://www.manutd.com/en/news/detail/week-ahead-for-manchester-united-21-to-27-october"
               mat-raised-button>Read more...</a>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Man of the match">
    <mat-card class="card">
      <img mat-card-image
           src="https://www.manutd.com/AssetPicker/images/0/0/12/232/845843/AV8U5700_2019102051542057_201910200533411571600947622_xlarge.jpg"
           alt="Photo">
      <mat-card-content>
        <p>
          <strong>Daniel James's impressive first appearance
            in English football's biggest fixture earned the
            Wales winger the Man of the Match accolade from
            Manchester United fans.</strong>
        </p>
        <p>
          Forty-seven per cent of supporters using our Official
          App voted him the star performer against Liverpool,
          although striker Marcus Rashford - the team-mate he
          set up for the game's opening goal - ran him close
          with 42 per cent.
        </p>
      </mat-card-content>
      <div class="cardFooter">
        <mat-card-header>
          <div mat-card-avatar class="header-image4"></div>
          <mat-card-title>Mark Froggatt</mat-card-title>
          <mat-card-subtitle>Author</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://www.manutd.com/en/news/detail/ole-gunnar-solskjaer-gives-man-utd-injury-update-after-liverpool-game"
            mat-raised-button>Read more...</a>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-tab>
  <mat-tab label="Extra">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image4"></div>
        <mat-card-title>Mark Froggatt</mat-card-title>
        <mat-card-subtitle>Author</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://www.manutd.com/AssetPicker/images/0/0/12/232/845843/AV8U5700_2019102051542057_201910200533411571600947622_xlarge.jpg"
           alt="Photo">
      <mat-card-content>
        <p>
          <strong>Daniel James's impressive first appearance
            in English football's biggest fixture earned the
            Wales winger the Man of the Match accolade from
            Manchester United fans.</strong>
        </p>
        <p>
          Forty-seven per cent of supporters using our Official
          App voted him the star performer against Liverpool,
          although striker Marcus Rashford - the team-mate he
          set up for the game's opening goal - ran him close
          with 42 per cent.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a
          href="https://www.manutd.com/en/news/detail/ole-gunnar-solskjaer-gives-man-utd-injury-update-after-liverpool-game"
          mat-raised-button>Read more...</a>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>

