<h1>English Premier League(season 2018-2019)</h1>
<div class="example-container mat-elevation-z8" *ngIf="waitForApi">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="teamName">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{element.logo}}" alt="logo">
        {{element.teamName}} </td>
    </ng-container>

    <!-- Games Plaied Column -->
    <ng-container matColumnDef="games">
      <th mat-header-cell *matHeaderCellDef> GP </th>
      <td mat-cell *matCellDef="let element"> {{element.games}} </td>
    </ng-container>

    <!-- Wins Column -->
    <ng-container matColumnDef="win">
      <th mat-header-cell *matHeaderCellDef> W </th>
      <td mat-cell *matCellDef="let element"> {{element.win}} </td>
    </ng-container>

    <!-- Drawns Column -->
    <ng-container matColumnDef="draw">
      <th mat-header-cell *matHeaderCellDef> D </th>
      <td mat-cell *matCellDef="let element"> {{element.draw}} </td>
    </ng-container>

    <!-- Loses Column -->
    <ng-container matColumnDef="lose">
      <th mat-header-cell *matHeaderCellDef> L </th>
      <td mat-cell *matCellDef="let element"> {{element.lose}} </td>
    </ng-container>

    <!-- Doal Difference Column -->
    <ng-container matColumnDef="goalDifr">
      <th mat-header-cell *matHeaderCellDef> GD </th>
      <td mat-cell *matCellDef="let element"> {{element.goalDifr}} </td>
    </ng-container>

    <!-- Points Column -->
    <ng-container matColumnDef="points" class="points">
      <th mat-header-cell *matHeaderCellDef> Points </th>
      <td mat-cell *matCellDef="let element"> {{element.points}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
