.form {
  border: 1px solid bisque;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  width: 500px;
  height: 3rem;
  margin: auto;
  //background-color: #665998b8;
  color: bisque;
}
.mat-form-field {
  width: 150px;
}
 .mat-raised-button {
   margin: 5px;
  width: 100px;
}

 h1{
   font-size: 20px;
 }


